.env
.phpunit.result.cache
node_modules
storage/app/private/repository-workspaces
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
vendor
